 @import url(reset.css);
 
 .layout{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-component{
  flex: 1;
  max-width: 700px;
  margin: auto;
}
.appbar{
  background-color: crimson;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.appbar span{
  font-size: 25px;
  font-weight: 700px;
  color: black;
}
.nav-link >a{
  margin: 10px;
  text-decoration: none;
  color: white;
}
.appbar > a:hover{
  text-decoration: underline;
}
footer{
  background-color: aqua;
  padding: 10px;
  text-align: center;
  color: green;
}