.layout{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-component{
  flex: 1;
  max-width: 700px;
  margin: auto;
}
.appbar{
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.appbar span {
  font-size: 25px;
  font-weight: 700;
  color: whitesmoke;
}
.nav-link >a{
  margin: 10px;
  text-decoration: none;
  color: white;
}
.appbar > a:hover{
  text-decoration: underline;
}
footer{
  background-color: crimson;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}
.banner{
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.banner >h1{
  font-size: 50px;
}
.banner > p{
  font-size: 20px;
}
.actions-wrap{
  transform: scale(0.9);
}
.btn-outline{
  color: crimson;
  background-color: transparent;
  margin: 10px;
  height: 50px;
  width: 100px;
}
.btn-container{
background-color: crimson;
color: white;
margin: 10px;
height: 50px;
width: 100px;
}